// Used for header navigaion bar(s)
// Colors
$white: white;
$black: black;

// Top Bar
$outside-padding: 5%;
$spacing: 1rem;

// Announcement Bar
$announcement-button-color: #f70207;
$font-stack: Georgia, serif, bold;

// Top Bar
.top-bar{
    background-color: $white;
    padding-bottom: $spacing;
    //font-family: 'Times New Roman', Times, serif;
}

.top-bar-left {
    padding-left: $outside-padding;
}

.top-bar-right{
    padding-right: $outside-padding;
}

//Announcement Bar
.announcement-bar{
    text-align: center;
    background-color: black;
    padding-top: $spacing;
    color: $white;
}

#announcement-button{
    border-radius: 70px;
    background-color: $announcement-button-color;
    color: $white;
    font-weight: bold;
    font: $font-stack;
}